<footer>
       
    <section class="footer-principal">
        
        <article>
            <h3>Contacto. <i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-instagram-square"></i> <i class="fa-brands fa-whatsapp-square"></i></i></h3>
            <p> <a href="">Teléfono</a> </p> 
            <p> <a href=""> Facebook</a></p>
            <p> <a href=""> Instagram</a></p>
            <p> <a href=""> Whatsapp</a></p>
            <p> <a href="">info@petparadise.com</a> </p>
        </article>

        <article>
            <h3>Otros servicios <i class="fa-solid fa-bell-concierge"></i></h3>
            <p> <a href="">Adopciones</a> </p>
            <p> <a href="">Microchips</a> </p>
            <p> <a href="">Refugio de animales y su patrocinio</a> </p>
        </article>
            
        <article>
            <h3>Legales. <i class="fa-solid fa-scale-balanced"></i></h3>
            <p> <a href="">Términos y condiciones</a> </p> 
            <p> <a href="">Cancelar una compra</a> </p>
            <p> <a href="">Defensa del Consumidor</a> </p>
        </article>
        
    
    </section>
    
    
    <section class="footer-ultimoParrafo">
        <p>Copyright © 2022 Pet Paradise S.R.L. <br>
            Monroe 860 (1428) CABA, Argentina. <br>
            Carrera 53 100 25, Bogota, Bogota, Colombia.
        </p>
    </section>
    

</footer>