<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Paradise - Carro de compras</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-product.css">
    <link rel="stylesheet" href="/css/carrito.css">
        
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Neucha&family=Nunito+Sans:wght@200;300;400;700&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <!--
    Header con 4 divs:
    1. superior: solo para efectos estéticos de color. visible en todos los viewports
    2. main:  logo, barra búsqueda e ícono carrito compras. visible en todos los viewports. se adapta
    el main a su vez tendrá una sección oculta (precio) que solo se ve en el viewport full
    3. nav: links de navegación. solo visible en viewport tablet y full
    4. inferior: para promos. visible en todos los viewports
    -->
       <!-- aqui va el header desde el partial -->
    <%- include("../partials/header")  %> 
    
    <main>
        <div class="main__posicionMenuTitulo">
            <div class="header_nav-versionesMobile">
                <i class="fa-solid fa-bars header_nav-hamgurgerMenu"></i>
            </div>
            <div>
                <h1 class="main__tituloPagina">Pet Paradise</h1>
                <p class="main__texto-subtitulo">
                    <em>
                        Comprá desde la comodidad tu casa. Ahorrá tiempo y dinero. Descubrí el más amplio stock de productos, las mejores ofertas y servicios para tu mascota.</em>
                <p>
            </div>
        </div>
        <hr class="main__bordeInferiorTextSubtitulo">
        <!-- Navegacion lateral y cuerpo con imágenes principales total 4 -->
        
        <div class="main-principal">
            
            <nav class="main-principal__nav">
                <h3>Perros</h3>
                <ul>
                    <li> <a href="">Alimentos secos </a>  </li>
                    <li> <a href="">Alimentos humedos</a>  </li>
                    <li>  <a href="">Alimentos especiales</a></li>
                </ul>
                <h3>Gatos</h3>
                <ul>
                    <li> <a href="">Alimentos secos</a> </li>
                    <li> <a href="">Alimentos humedos</a> </li>
                    <li> <a href="">Alimentos especiales</a> </li>
                </ul>
                <h3>Accesorios</h3>
                <ul>
                    <li> <a href="">Camas y mantas</a> </li>
                    <li> <a href="">Comederos y bebederos</a> </li>
                    <li> <a href="">Elementos de paseo</a> </li>
                    <li> <a href="">Juguetes</a> </li>
                </ul>
                <h3>Servicios</h3>
                <ul>
                    <li> <a href="">Paseadores de perros</a> </li>
                    <li> <a href="">Veterinarias asociadas</a> </li>
                    <li> <a href="">Higiene de mascotas</a> </li>
                </ul>
            </nav>
            
            <!-- EDIT FROM HERE ON -->

            <!-- contenedor principal para las dos grandes columnas -->
            <div class="main-general">

                <div class="main-izquierda">

                    <!-- la cabecera de la columna izquierda -->
                    <div class="main-izquierda__textos">
                        <h3 class="main__tituloCarrito">Tu carrito de compras <i class="fa-solid fa-basket-shopping"></i></h3>
                    </div>

                    <!-- carrito de compras item 1 -->
                    <!-- template item carrito compra -->
                    <div class="main__itemCarrito">
                        <!-- primeros dos items que se esconden -->
                        <div class="main__items-tablaCarrito">
                            <!-- la foto que se esconde -->
                            <div class="main__itemCarrito-foto">
                                <img src="/img/productos/criadores-150002.png" alt="">
                            </div>
                                                        
                            <!-- nombre del elemento comprado -->
                            <div>
                                <strong>Purina Chow</strong>
                                <br> Carne y Pollo para que tenga el lindo can.
                                <br> <span class="main__formato-precioxUnidad">Precio por unidad $4555</span> 
                            </div>
                        </div>
                        <div class="menosMas">
                            <div class="menosMasTamañoPrecio"> <strong>$4555</strong>  </div>
                            <div class="menosMasLayout">
                                <div><a href=""><i class="fa-solid fa-minus menosMas-left"></i></a></div>
                                
                                <div class="main__items-tablaAnchoCant">
                                    <strong>1</strong> 
                                </div>
                                
                                <div><a href=""><i class="fa-solid fa-plus menosMas-right"></i></a></div>
                            </div>
                            <div class="menosMasTamañoTacho">
                                <a href=""><i class="fa-solid fa-trash"></i></a>
                            </div>
                                                  
                        </div>
                    </div>

                    <!-- carrito de compras item 2 -->
                    <!-- template item carrito compra -->
                    <div class="main__itemCarrito">
                        <!-- primeros dos items que se esconden -->
                        <div class="main__items-tablaCarrito">
                            <!-- la foto que se esconde -->
                            <div class="main__itemCarrito-foto">
                                <img src="/img/productos/vitalCanBalaced_121070.png" alt="">
                            </div>
                                                        
                            <!-- nombre del elemento comprado -->
                            <div>
                                <strong>Vital Balance</strong>
                                <br> Alimento mix balanceado
                                <br> <span class="main__formato-precioxUnidad">Precio por unidad $4300</span> 
                            </div>
                        </div>
                        <div class="menosMas">
                            <div class="menosMasTamañoPrecio"> <strong>$8600</strong>  </div>
                            <div class="menosMasLayout">
                                <div><a href=""><i class="fa-solid fa-minus menosMas-left"></i></a></div>
                                
                                <div class="main__items-tablaAnchoCant">
                                    <strong>2</strong> 
                                </div>
                                
                                <div><a href=""><i class="fa-solid fa-plus menosMas-right"></i></a></div>
                            </div>
                            <div class="menosMasTamañoTacho">
                                <a href=""><i class="fa-solid fa-trash"></i></a>
                            </div>
                                                  
                        </div>
                    </div>
                    
                    <!-- carrito de compras item 3 -->
                    <!-- template item carrito compra -->
                    <div class="main__itemCarrito">
                        <!-- primeros dos items que se esconden -->
                        <div class="main__items-tablaCarrito">
                            <!-- la foto que se esconde -->
                            <div class="main__itemCarrito-foto">
                                <img src="/img/productos/royalCanin-156157.jpg" alt="">
                            </div>
                                                        
                            <!-- nombre del elemento comprado -->
                            <div>
                                <strong>Royal Canin</strong>
                                <br> Adult mix tamaño perros medianos
                                <br> <span class="main__formato-precioxUnidad">Precio por unidad $9250</span> 
                            </div>
                        </div>
                        <div class="menosMas">
                            <div class="menosMasTamañoPrecio"> <strong>$9250</strong>  </div>
                            <div class="menosMasLayout">
                                <div><a href=""><i class="fa-solid fa-minus menosMas-left"></i></a></div>
                                
                                <div class="main__items-tablaAnchoCant">
                                    <strong>1</strong> 
                                </div>
                                
                                <div><a href=""><i class="fa-solid fa-plus menosMas-right"></i></a></div>
                            </div>
                            <div class="menosMasTamañoTacho">
                                <a href=""><i class="fa-solid fa-trash"></i></a>
                            </div>
                                                  
                        </div>
                    </div>

                    <section class="main__resumen-compra">
                        <div class="main__resumen-titulo">Resumen de la compra</div>
                        <div class="main__resumen-subtotal">
                            <div class="main__titulo-resumen-compra">Subtotal</div>
                            <div class="main__resumen-subtotalMonto">$22.405,00</div>
                        </div>
                        <div class="main__resumen-subtotal">
                            <div class="main__texto-descuento">Descuentos</div>
                            <div class="main__resumen-descuentoMonto">$0.00</div>
                        </div>
                        <div class="main__resumen-subtotal">
                            <div class="main__titulo-total-compra">TOTAL</div>
                            <div class="main__textoTotalmonto">$22.405,00</div>
                        </div>
                        
                    </section>

                    <section class="main__pagar">
                        <!-- contenedor de las tarjetas de crédito -->
                        <div class="main__pagar-iconosTarjetas">
                            <i class="fa-brands fa-cc-visa"></i>
                            <i class="fa-brands fa-cc-amex"></i> 
                            <i class="fa-solid fa-money-bill-transfer"></i>
                            
                        </div>
                        <!-- contenedor del boton de pagar -->
                        <div>
                            <h3 class="main__pagarBoton">Finalizar compra</h2>
                        </div>

                    </section>






                    <!-- la imagen -->
                    <!-- <div class="main-izquierda__img">
                        <img src="/img/productos/criadores-150002.png" alt="">
                    </div> -->
                    <!-- precio -->
                    <!-- <div class="main-izquierda__precio">
                        <h3>$4555</h3>
                    </div> -->
                    <!-- los botones de compra -->
                    <!-- <div class="main-izquierda__botones">
                        <label for="cantidad">Cantidad: </label>
                            <select name="cantidad" id="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select> 
                            <a href="/carrito">
                            <button class="main-izquierda__submit" type="submit">Agregar al carrito</button>
                            </a>
                    </div> -->
                    
                </div>
                
                <!-- columna derecha que está encolumnada en los dos primeros viewports 
                y que luego se despliega a la derecha de la columna izquierda en el
                vieport más grande  -->
                <!-- <div class="main-izquierda__textos-derecha">
                    <div class="main-izquierda__textos-derecha">
                        <h3>Descripción</h3>
                        <p>El Alimento Maintenance Criadores Adulto está desarrollado especialmente para perros adultos de todos los tamaños, de entre 1 y 7 años de edad. Su fórmula incluye proteínas de carne y pollo de alto valor biológico, fibras, minerales, vitaminas y ácidos grasos, resultando en una nutrición completa para tu mascota.</p>
                        <h3>Información Nutricional</h3>
                        <p class="main-izquierda__textoNegriga">Trigo, maíz, germen de maíz, harinas de soja, harina de carne y hueso, sorgo, aceite de pollo, zeolita, sal, hidrolizado proteico de pollo, dipropinato de calcio, BHT; BHA, núcleo vitamínico-mineral: vitaminas A, D3, E, K, B1, B6, B12, ácido fólico, ácido nicotínico, ácido pantoténico, biotina, colina, minerales, zinc, hierro, cobre, yodo, magneso, selenio.</p>
                    </div>
                </div> -->

            </div>

        </div>
        
    </main>
    
   <!-- insertar el footer con partials ejs -->
   <%- include("../partials/footer")  %> 
    
    
</body>
</html>