<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1>Debe aceptar los terminos y condiciones</h1>
    <p>Vuelva para atrás, complete todos los campos requeridos y <a href="/users/register">acepte los términos y condiciones</a></p>
</body>
</html>