<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER - EDIT</title>

    <link rel="stylesheet" href="/css/styles.css">
    
    <link rel="stylesheet" href="/css/register.css">

        
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Neucha&family=Nunito+Sans:wght@200;300;400;700&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <!--
    Header con 4 divs:
    1. superior: solo para efectos estéticos de color. visible en todos los viewports
    2. main:  logo, barra búsqueda e ícono carrito compras. visible en todos los viewports. se adapta
    el main a su vez tendrá una sección oculta (precio) que solo se ve en el viewport full
    3. nav: links de navegación. solo visible en viewport tablet y full
    4. inferior: para promos. visible en todos los viewports
    -->
    <header>
        <div class="header__divSuperior">
            
        </div>
        <!-- Div que tiene el logo, la barra de busqueda y el icono del carrito. el logo queda fijo, la barra se agranda y el icono de carrito también se queda fijo -->
        <div class="header__main">
            <!-- div para el logo -->
            <div class="header__divLogo">
                <a href="/" title="Ir a la página principal"><img class="header__main-logo" src="/img/logo2.png" alt="Logo Pet Paradise"></a>
            </div>
            <!-- div para la barra de busqueda que se expande al 100% -->
            <!-- <div class="header__divBarraBusqueda">
                <form class="header__barraBusqueda-form" action="">
                    <input class="header__input-text" type="text">
                </form>
                <i class="fa-solid fa-magnifying-glass header__main-imgLupa"></i>
            </div> -->
            <!-- div para el icono del carrito de compras -->
            <!-- <div class="header__divCarrito">
               <a href="/carrito"><i class="fa-solid fa-cart-shopping header__main-carrito"></i></a> 
            </div> -->
            <!-- div para el precio, solo visto en el breakpoint full -->
            <!-- <div class="header__main__div-precio">
                <p>$22.405,00</p>
            </div> -->
        </div>
        <nav>
            <!-- Menu de navegación para resoluciones full -->
            <div class="header__nav-fullScreen">
                <!-- Cuerpo nav izquierdo -->
                <div class="header__nav-texto-izq">
                    <ul class="header__nav-texto-izq">
                        
                        <li><a href="#"> <strong>ALTA</strong> de producto</a></li>
                        <li><a href="#"> <strong>BAJA</strong> de producto</a></li>
                        <li><a href="#"> <strong>MODIFICACIÓN</strong> de producto</a></li>
                    </ul>
                </div>
                
                <!-- cuerpo nav derecho -->
                <div>
                    <ul class="header__nav-texto-der">
                        <li><a href="·"> <strong>LOGOUT DEL MÓDULO</strong> </a></li>
                    </ul>
                </div>
            </div>

            <!-- Menu de navegación para resoluciones mobile y tablet -->
        </nav>
        <img class="header__imagen-patas" src="/img/paw.jpg" alt="">
        
    </header>
    
    <main>
<!-- 
        < % user.forEach(info => { %>
        <p>< %= info.nombre %> </p>
        <p>Algo más</p>
        <p>< %= info.email %> </p>
        < % }) %> -->
        

        <div class="abm-main-encabezado">
            <h1>Edición de usuario</h1> <div><i class="fa-solid fa-upload"></i></div> 
        </div>
        <div class="main-subEncabezado">
            <p>Modificar los campos que se desean editar</p>
        </div>
    
        <section class="abm-main-formulario-borde">
            <form action="/users/editar/<%= user.id %>?_method=PUT" method="POST" >
            
                
                <!-- Nombre del usuario -->
                <div class="form-group">
                    <div class="abm-form-group__ancho-label">
                        <label for="nombre">Nombre</label>
                    </div> 

                    <div class="abm-form-group__inputField">
                        <input value="<%= user.nombre %> " class="form-group__ancho-input" type="text" name="nombre" >        
                    </div>
                </div>
                
                <!-- Email del usuario -->
                <div class="form-group">
                    <div class="abm-form-group__ancho-label">
                        <label for="email">Email</label>
                    </div>
                    <div class="abm-form-group__inputField">
                        <input value="<%= user.email %> " class="form-group__ancho-input" type="email" name="email">        
                    </div>
                </div>
                <br>
                <div class="abm-form-group__inputField">
                        <button class="boton-submit boton-enviar" type="submit">Editar Usuario</button> 
                        <button class="boton-submit" type="reset">Resetear Campos </button>
                        
                    </div>
                </div>
            </form>            
            

        </section>


        
        
        
    </main>


    <!-- <footer>
       
        <section class="footer-principal">
            
            <article>
                <h3>Contacto. <i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-instagram-square"></i> <i class="fa-brands fa-whatsapp-square"></i></i></h3>
                <p> <a href="">Teléfono</a> </p> 
                <p> <a href=""> Facebook</a></p>
                <p> <a href=""> Instagram</a></p>
                <p> <a href=""> Whatsapp</a></p>
                <p> <a href="">info@petparadise.com</a> </p>
            </article>

            <article>
                <h3>Otros servicios <i class="fa-solid fa-bell-concierge"></i></h3>
                <p> <a href="">Adopciones</a> </p>
                <p> <a href="">Microchips</a> </p>
                <p> <a href="">Refugio de animales y su patrocinio</a> </p>
            </article>
                
            <article>
                <h3>Legales. <i class="fa-solid fa-scale-balanced"></i></h3>
                <p> <a href="">Términos y condiciones</a> </p> 
                <p> <a href="">Cancelar una compra</a> </p>
                <p> <a href="">Defensa del Consumidor</a> </p>
            </article>
            
        
        </section>
        
        
        <section class="footer-ultimoParrafo">
            <p>Copyright © 2022 Pet Paradise S.R.L. <br>
                Monroe 860 (1428) CABA, Argentina. <br>
                Carrera 53 100 25, Bogota, Bogota, Colombia.
            </p>
        </section>
        

    </footer>
     -->
    
</body>
</html>